

a {
    color: firebrick;
}

p {
    font-size: 20px;
    color: darkblue;
}

body {
    background-image: url("/static/images/abstractwpproject.jpg");
}

.main-page-body {
    font-family: "Ubuntu Light";
    text-align: center;
    padding: 10px;
}

.main-page-title-format {
    text-align: center;
    font-size: 50px;
    color: lightblue;
}

.new-question-button-position {
    text-align: left;
    padding-left: 10%;
}

.list-table {
    font-size: 20px;
    color: darkblue;
    width: 80%;
    margin: 0px auto;
    border-collapse: collapse;
}

.th-format {
    border: black solid 5px;
    font-size: 25px;
    background-color: cadetblue;
    padding: 10px;
}

.td-format {
    border: black solid;
    background-color: white;
    padding: 10px;
}

.select-th{
    background-color: transparent;
    padding-left: 130px;
}

.h1-text-format {
    font-size: 40px;
    color: lightblue;
    text-align: center;
}

.h2-text-format {
    font-size: 30px;
    color: lightblue;
    text-align: center;
}

.h3-text-format {
    font-size: 20px;
    color: lightblue;
    text-align: left;
    padding-left: 10%;
}

.other-page-body {
    font-family: "Ubuntu Light";
    padding-left: 10%;
    padding-right: 10%;
}

.label-format {
    color: lightblue;
}


.question-answers-format {
    font-size: 30px;
    color: lightblue;
    text-align: left;
}

.answer-comment-format {
    font-size: 20px;
    color: lightblue;
    text-align: left;
    padding-left: 145px;
}


.like-dislike-buttons{
    font-size: 11px;
    color: pink;
    text-align: justify;
}


.new-question-page-body {
    font-family: "Ubuntu Light";
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}