

a {
    color: firebrick;
}

p {
    font-size: 20px;
    color: darkblue;
}

body {
    background: lavender;
}

.main-page-body {
    font-family: "Ubuntu Light";
    text-align: center;
    padding: 10px;
}

.h1-title-format {
    text-align: left;
    padding-left: 10%;
    font-size: 50px;
    color: darkblue;
}

.new-question-button-pozition {
    text-align: left;
    padding-left: 10%;
}

.list-table {
    font-size: 20px;
    color: darkblue;
    width: 80%;
    margin: 0px auto;
    border-collapse: collapse;

}

.th-format {
    border: darkblue solid 5px;
    font-size: 25px;
    background-color: cadetblue;
    padding: 10px;
}

.td-format {
    border: darkblue solid;
    background-color: white;
    padding: 10px;
}

.select-th{
    border-left: solid darkblue 5px;
    background-color: transparent;
    padding: 10px;
}

.h3-text-format {
    font-size: 30px;
    color:darkblue;
    text-align: left;
}

.other-page-body {
    font-family: "Ubuntu Light";
    padding: 10px;
    padding-left: 10%;
}

.label-format {
    color: darkblue;
}
