<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Askmate</title>
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <body>
        <div class="other-page-body">
            {% for item in questions %}
                {% if item['id'] == question_id %}
                    <h1 class="h1-text-format">The question is: {{ item['title'] }}</h1>
                    <h2 class="h2-text-format">{{ item['message'] }}</h2>
                {% endif %}
            {% endfor %}
                <form action="/question/{{ question_id }}/new-answer" method="POST">
                    <label class="label-format" for="answer">Your answer:</label><br><br/>
                    <textarea id="answer" name="answer" required rows="8" cols="80"></textarea><br><br>
                    <button type="submit">Submit your answer</button><br><br><br>
                </form>
        </div>
    </body>
</html>
