<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Askmate</title>
    </head>
    <body>
        <h3>The question is: {{ questions[question_id]['title'] }}</h3>
        <p>{{ questions[question_id]['message'] }}</p>
        <p>{{ answers[answer_id]['message'] }}</p>
            <form action="/question/{{ question_id }}/{{ answer_id }}/new-comment" method="POST">
                <label for="comment">Your comment</label><br><br/>
                <textarea id="comment" name="comment" required rows="8" cols="80"></textarea><br><br>
                <button type="submit">Submit your comment</button><br><br><br>
            </form>
    </body>
</html>