<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="utf-8">
    <title>Ask-Mate-Python</title>
</head>
<body>
<h1>Ask-Mate!</h1>
<table class="list-table">
    <tr>
        <th>ID</th>
        <th width="320">Question title</th>
        <th>Question</th>
        <th class="select-th">
            <form action="/list" method="GET">
                <select name="sort">
                    <option selected disabled>Sort Questions</option>
                    <option value="Ascending_ID">Asc</option>
                    <option value="Descending_ID">Des</option>
                </select>
                <button type="submit">ok</button>
            </form>
        </th>
    </tr>
    {% for item in questions %}
        <tr>
            <td>{{ item['id'] }}</td>
            <td style="text-align: center"><a href="/question/{{ item['id'] }}">{{ item['title'] }}</a></td>
            <td> {{ item['message'] }}</td>
        </tr>
    {% endfor %}
</table>
<p>
    <a href="/add-question">Ask new question</a>
</p>

</body>
</html>

