<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <meta charset="utf-8">
        <title>Ask-Mate-Python</title>
    </head>
    <body class="main-page-body">
        <h1 class="h1-title-format">Ask-Mate!</h1>
        <table class="list-table">
            <tr>
                <th class="th-format">ID</th>
                <th class="th-format">Question title</th>
                <th class="th-format">Question</th>
                <th class="select-th">
                    <form action="/list" method="GET">
                        <select name="sort">
                            <option selected disabled>Sort Questions</option>
                            <option value="Ascending_ID">Asc</option>
                            <option value="Descending_ID">Des</option>
                        </select>
                        <button type="submit">ok</button>
                    </form>
                </th>
            </tr>
            {% for item in questions %}
                <tr>
                    <td class="td-format"> {{ item['id'] }}</td>
                    <td class="td-format"><a href="/question/{{ item['id'] }}">{{ item['title'] }}</a></td>
                    <td class="td-format"> {{ item['message'] }}</td>
                </tr>
            {% endfor %}
        </table>
        <p class="new-question-button-pozition">
            <a href="/add-question">Ask new question</a>
        </p>
    </body>
</html>

