<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Askmate</title>
</head>
<body>
    <form action="/login" method="POST">
        <label class="label-format" for="user_name">User name:</label><br><br>
        <input id="user_name" name="user_name" required size="80"><br><br>
        <label class="label-format" for="password">Password:</label><br><br>
        <textarea id="password" name="password" required rows="10" cols="100"></textarea><br><br>
        <button type="submit">Login</button><br><br><br>
    </form>
</body>
</html>