<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Askmate</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Welcome to Ask-mate!</h1>
    <h2>Please login to proceed.</h2>
    <form action="/login" method="POST">
        <label class="label-format" for="user_name">User name:</label><br><br>
        <input id="user_name" name="user_name" required><br><br>
        <label class="label-format" for="password">Password:</label><br><br>
        <input id="password" name="password" required></input><br><br>
        <button type="submit">Login</button><br><br><br>
    </form>
</body>
</html>