<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Askmate</title>
    </head>
    <body>
        <h3>The question is: {{ questions[number_of_question]['title'] }}</h3>
        <p>{{ questions[number_of_question]['message'] }}</p><br/>
        <table>
        {% if answers[number_of_question]['question_id'] == number_of_question %}
            {% for item in answers %}
                <tr>
                    <td>{{ item['id'] }}</td>
                    <td>{{ item['message'] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </table>
        <p><a href="/question/{{ number_of_question }}/new-answer">Add your answer</a></p>
    </body>
</html>
