<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Askmate</title>
    </head>
    <body>
        <h3>ADD NEW QUESTION</h3>
            <form action="/add-question" method="POST">
                <label for="question_title">Title:</label><br><br>
                <input id="question_title" name="question_title" required><br><br>
                <label for="question">Your question:</label><br><br>
                <textarea id="question" name="question" required rows="8" cols="80"></textarea><br><br>
                <button type="submit">Submit question</button><br><br><br>
            </form>
    </body>
</html>